.toggleHidden {
  display: flex;
  flex-flow: column nowrap;
  position: fixed;
  transform: translateX(100%);
  right: 0;
  top: 20vw;
  width: 100vw;
  height: 90vh;
  /* border: 2px solid #F4F4F4; */
  box-sizing: border-box;
  transition: transform 0.2s ease-in-out;
  background-color: white
}
.toggleVisible {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  transform: translateX(0%);
  top: 20vw;
  right: 0;
  width: 100vw;
  height: 100vh;
  /* border: 2px solid #F4F4F4; */
  box-sizing: border-box;
  transition: transform 0.2s ease-in-out;
  z-index: 3;
  cursor:pointer;
  background-color: white
}





.containerCardSubcategory{
  display: flex;
  width: 352px;
  height: 140px;
  background: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.18);
  border-radius: 10px;
  flex-direction: row;
}

.containerDetailsSubCatg{

}