.containerFiltersCanjes{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 15px 0 15px 0;
}
.containerButtonsFilterCanjes{
  display: flex;
  flex-flow: row wrap;
}


.buttonFilterCanjes{
  border: 2px solid #6200EE;
  border-radius: 50px;
  color: #6200EE;
  background-color: #ffffff;
  font-size: 4vw;
  padding: 5px 10px 5px 10px;
  margin-right: 10px;
  margin-top: 10px;
}





.containerCanjes{
  margin-bottom: 5vh;
  display:flex;
  width: 100vw;
  flex-flow: column wrap;
  max-height: 600px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  
}
.containerCanjes ::-webkit-scrollbar {
  display: none;
}
/* ancho tarjeta  ancho 177px x largo 279px */
.cardPartners{
  /* width: 42.7536231884058vw;
  height: 37.75372124492557vh;  */
  /* flex: 1 1 200px; */
  width: 177px;
  height: 279px;
  background: #F8F7F4;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.18);
  border-radius: 10px;
  margin-right: 2.4154589371980677vw;
  display: flex;
  flex-direction: column;
  font-family: 'Nunito';
  margin-top: 2vh;

}
.containerImgCategory{
  border-radius: 10px 10px 0px 0px;
  padding: 0;
  margin: 0;
}
.containerImgCategory img {
  width: 100%;
}
.pointAndLevel{
  width: 100%;
  height: 23px;
  display: flex;
  flex-direction: row;
  align-items: center;

}
.containerLogPtos{
  margin-left: 4vw;
  padding: 0;
}
.pointAndLevel h5{
  color: #EE9B00;
  font-size: 0.8rem;
  margin-left: 4vw;
}
.containerDetails{
  width: 100%;
  display: flex;
  flex-direction: column;
  height:12.178619756427604vh;

}
.containerDetails h6{
  font-size: 1.15rem;
  color:#333333;
  margin-bottom: -2vh;
  margin-top: 1vh;
  margin-left: 3vw;

}
.containerDetails p{
  font-size: 1rem;
  color: #444444;
  margin-left: 3vw;
}