.toggleHiddenCanjes {
  display: flex;
  flex-flow: column nowrap;
  position: fixed;
  transform: translateX(100%);
  right: 0;
  top: 20vw;
  width: 100vw;
  height: auto;
  /* border: 2px solid #F4F4F4; */
  box-sizing: border-box;
  transition: transform 0.2s ease-in-out;
  background-color: white;
 
  
}
.toggleVisibleCanjes{
  display: flex;
  position: fixed;
  padding-top: 2vh;

  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  transform: translateX(0%);
  top: 20vw;
  right: 0;
  width: 100vw;
  height: auto;
  /* border: 2px solid #F4F4F4; */
  box-sizing: border-box;
  transition: transform 0.2s ease-in-out;
  z-index: 3;
  cursor:pointer;
  background-color: white;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  
}
.containerElementsFilter{
  display: flex;
  flex-flow: column nowrap;
  width: 90vw;
  height: 90vh;
}
.containerTitleFilter{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 30px;
}
.containerAllFiltersCanjes{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 10px;
}
.textTitleFilter{
  font-weight: bold;
  font-size: 4.2vw;
  color: #333333;
}
.textClearFilter{
  font-weight: bold;
  font-size: 4.2vw;
  color: #999999;
}
.textTitleFilterKind{
  font-weight: bold;
  font-size: 4.5vw;
  color: #333333;
}
.eachFilterNameCanjes{
  width: 180px;
  display: flex;
  font-size: 4.5vw;
  color: #333333;
  margin-bottom: 20px;
  align-items: center;
}
.eachInputCheckbox{
  width: 5vw;
  height: 5vw;
  margin-right: 30px;
}
.containerExitFilterCanjes{
 
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}
.btnFilter{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #6200EE;
  border-radius: 10px;
  width: 25vw;
  height: 10vw;
  color: white;
  font-size:4.5vw;
  border:none;
}