.container_point_informationsBegginer{
  width: 309px;
  height: 49px;
background-color: transparent;
border: 1px solid #EE9B00;
box-sizing: border-box;
border-radius: 10px;
display: flex;
align-items: center;
align-content: center;
justify-content: center;
}
.container_point_informationsAdventure{
  width: 309px;
  height: 49px;
background-color: transparent;
border: 1px solid #00EDDF;
box-sizing: border-box;
border-radius: 10px;
display: flex;
align-items: center;
align-content: center;
justify-content: center;
}

