.container_point_informationsBegginer{
  width: 309px;
  height: 49px;
background-color: transparent;
border: 1px solid #EE9B00;
box-sizing: border-box;
border-radius: 10px;
display: flex;
align-items: center;
align-content: center;
justify-content: center;
}
.container_point_informationsAdventure{
  width: 309px;
  height: 49px;
background-color: transparent;
border: 1px solid #00EDDF;
box-sizing: border-box;
border-radius: 10px;
display: flex;
align-items: center;
align-content: center;
justify-content: center;
}
.container_point_informationsBegginer span{

font-size: 2.2rem;
font-style: normal;
font-weight: 700;
line-height: 49px;
letter-spacing: -1.5px;
text-align: left;
color: #EE9B00;
margin-left: 4vw;
}
.container_point_informationsAdventure span{

  font-size: 2.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: -1.5px;
  text-align: left;
  color: #009189;
  margin-left: 5vw;
  
  }

  .container_point_informationsBegginer h5{
    color:#999999;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
}
.container_point_informationsAdventure h5{
  color:#999999;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 19px;
letter-spacing: 0px;
text-align: left;
}

