.container_rewards{
  width: 100vw;
  background: #F8F7F4;

  
}
.container_rewards_components{
  margin-left:6.038647342995169vw ;
  margin-right: 6.038647342995169vw;
}
.container_Ptos_Acumulated{
  margin-top: 5.006765899864682vh;
  display: flex;
  align-content: center;
  flex-direction: column;
  align-self: center;
  align-items: center;
  background: #FFFFFF;
  box-shadow: -1px -1px 4px rgba(0, 0, 0, 0.1), 4px 4px 8px rgba(0, 0, 0, 0.18);
  border-radius: 10px;
}
.container_Ptos_Acumulated h3{
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 25px;
letter-spacing: 0em;
text-align: left;
align-self: flex-start;
color: #333333;
margin-left: 7vw;

}
.container_Ptos_Acumulated h5{
color:#999999;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 19px;
letter-spacing: 0px;
text-align: left;
}
.containerCanjes{
  margin-bottom: 5vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* scroll-behavior: smooth; */
z-index: 5;
  overflow: scroll;
  width: 100%;
  overflow-y: hidden;
  
 
  
}