.containerBenefits{
  display: flex;
  justify-content: center;
  padding-top:15vw;
  margin-bottom:20vw;
}
.containerTextBenefits{
  display: flex;
  flex-flow: column nowrap;
  width: 90vw;
  margin-top: 25px;
}
.titleBenefits{
  color: #6200EE;
  font-weight: bold;
  font-size: 4.5vw;
}
.textBenefits{
  color: #333333;
  font-size: 4vw;
  margin-top: 10px;
}
.containerAllCardsBenefits{
  display: flex;
  flex-flow: column wrap;
  margin-top:10px;
  margin-bottom:40px;
  max-height: 120vw;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.containerAllCardsBenefits::-webkit-scrollbar {
  display: none;
}

.containerEachGift {
  display: flex ! Important  ;
  justify-content: center ! Important;
  align-content: center ! Important ;
  background: #FFFBD6;
  border-radius: 5px;
  width: 85! Important;
  height: 70vw ! Important;
}
.containerElementsGift{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center ;
  width: 70vw ! Important;
}
.textGift{
  color: #333333;
  text-align: center;
  font-size: 4vw;
}
.containerFiltersBenefit{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 15px 0 15px 0;
}
.buttonFilter{
  border: 2px solid #6200EE;
  border-radius: 50px;
  color: #6200EE;
  background-color: white;
  font-size: 4vw;
  padding: 5px 10px 5px 10px;
  margin-right: 10px;
  margin-top: 10px;
}
.containerButtonsFilter{
  display: flex;
  flex-flow: row wrap;
}

