.containerBenefits{
  display: flex;
  justify-content: center;
  padding-top:15vw;
  margin-bottom:20vw;
}
.containerTextBenefits{
  display: flex;
  flex-flow: column nowrap;
  width: 90vw;
  margin-top: 25px;
}
.titleBenefits{
  color: #6200EE;
  font-weight: bold;
  font-size: 4.5vw;
}
.textBenefits{
  color: #333333;
  font-size: 4vw;
  margin-top: 10px;
}
.containerAllCardsBenefits{
  display: flex;
  flex-flow: column wrap;
  margin-top:10px;
  margin-bottom:40px;
  max-height: 120vw;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.containerAllCardsBenefits::-webkit-scrollbar {
  display: none;
}
.containerEachCard{
  display:flex;
  flex-flow: row nowrap;
  width: 80vw;
  height: 35vw;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.18);
  border-radius: 10px;
  margin-bottom: 5px;
  margin-right: 15px;
}
.containerInfoBenefit{
  display: flex;
  flex-flow: column nowrap;
  margin: 10px 10px 10px 10px;
  justify-content: space-between;
}
.containerNameSubjectBenefit{
  display: flex;
  flex-flow: column nowrap;
}
.containerDiscountBenefit{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.nameBenefit{
  color:#333333;
  font-weight: bold;
  font-size: 4.5vw;
}
.subjectBenefit{
  color: rgba(0, 0, 0, 0.6);
  font-size: 3.5vw;
}
.containerDiscountBegginer{
  background: #FFCF26;
  border: 2px dashed #FFE769;
  border-radius: 5px;
  color: white;
  padding: 2px 3px 2px 3px;
  font-size: 4vw;
}
.containerDiscountAdventure{
  background: #FFCF26;
  border: 2px dashed #FFE769;
  border-radius: 5px;
  color: white;
  padding: 2px 3px 2px 3px;
  font-size: 4vw;
}
.textGetCouponBegginer{
  font-weight: bold;
  font-size: 3.8vw;
  color: #EE9B00;
}
.textGetCouponAdventure{
  font-weight: bold;
  font-size: 3.8vw;
  color: #EE9B00;
}
.containerEachGift {
  display: flex ! Important  ;
  justify-content: center ! Important;
  align-content: center ! Important ;
  background: #FFFBD6;
  border-radius: 5px;
  width: 85! Important;
  height: 70vw ! Important;
}
.containerElementsGift{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center ;
  width: 70vw ! Important;
}
.textGift{
  color: #333333;
  text-align: center;
  font-size: 4vw;
}
.containerSlider{
  margin-bottom: 10vw;
  margin-top: 15px;
  display: flex;
  width: 85vw ! Important;
}
.slick-dots li.slick-active button:before {
  opacity: 1;
  color:  #6200EE;
}
.slick-dots li button:before {
  font-size: 12px;
}
.slick-track {
  display: flex;
}
.slick-track .slick-slide {
  display: flex;
  /* height: auto; */
  align-items: center;
  justify-content: center;
}
.containerFiltersBenefit{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 15px 0 15px 0;
}
.buttonFilter{
  border: 2px solid #6200EE;
  border-radius: 50px;
  color: #6200EE;
  background-color: white;
  font-size: 4vw;
  padding: 5px 10px 5px 10px;
  margin-right: 10px;
  margin-top: 10px;
}
.containerButtonsFilter{
  display: flex;
  flex-flow: row wrap;
}