.containerBenefits{
  display: flex;
  justify-content: center;
  padding-top:15vw;
  margin-bottom:30vw;
}
.containerTextBenefits{
  display: flex;
  flex-flow: column nowrap;
  width: 90vw;
  margin-top: 25px;
}
.titleBenefits{
  color: #6200EE;
  font-weight: bold;
  font-size: 4.5vw;
}
.textBenefits{
  color: #333333;
  font-size: 4vw;
  margin-top: 10px;
}
.containerIconAndCards{
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  margin-left: -4vw;
  margin-bottom:2vw;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.containerAllCardsBenefits{
  display: flex;
  flex-flow: column wrap;
  margin-top:10px;
  max-height: 120vw;
  width: 400vw;
  /* overflow: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar; */
}
.containerAllCardsBenefits::-webkit-scrollbar {
  display: none;
}

.containerEachGift {
  display: flex ! Important  ;
  justify-content: center ! Important;
  align-content: center ! Important ;
  background: white;
  border-radius: 5px;
  /* width: 85vw! Important; */
  height: 70vw ! Important;
  background: #FFFFFF;
  box-shadow: 0px -1px 8px rgba(0, 0, 0, 0.18), 0px 4px 8px rgba(0, 0, 0, 0.18);
  border-radius: 5px;
  margin-bottom: 5vw;
  margin-top: 5vw;
}
.containerElementsGift{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center ;
  width: 70vw ! Important;
}
.textGift{
  color: #333333;
  /* text-align: center; */
  font-size: 4vw;
  margin:0 8vw 0 8vw
}
.containerFiltersBenefit{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 15px 0 15px 0;
}
.buttonFilter{
  border: 2px solid #6200EE;
  border-radius: 50px;
  color: #6200EE;
  background-color: white;
  font-size: 4vw;
  padding: 5px 10px 5px 10px;
  margin-right: 10px;
  margin-top: 10px;
}
.containerButtonsFilter{
  display: flex;
  flex-flow: row wrap;
}

