.modalBenefit {
  position: absolute;
  width: 100%;
  height: auto;
  top:0;
  left: 0;
  display: flex;
  z-index: 3;
}
.modalContent {
  /* position: fixed; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 140vh;
  background-color: white;
  border: none;
  overflow: auto;
  overflow-y: initial !important
}
.closeModal{
  position:absolute;
  top: 0;
  right: 0;
  padding-top: 5vw;
  padding-right: 8vw;
}
.containerCategoryModalBeginner{
  display: flex;
  width: 100vw;
  height: 7vw;
  flex-flow: row nowrap;
  align-items: center;
  background-color: #EE9B00;
  padding-left: 5vw;
}
.containerCategoryModalAdvance{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100vw;
  height: 7vw;
  background-color: #009189;
  margin-left: 5vw;
}
.textCategoryBenefit{
  color: white;
  font-weight: bold;
  font-size: 3.8vw;
  margin-left: 2vw;
}
.containerTitlesModal{
  display: flex;
  flex-flow: column nowrap;
  width: 90vw;
}
.titleTitlesModal{
  font-weight: bold;
  font-size: 5.5vw;
  color: #333333;
  margin: 2vw 0 2vw 0;
}
.winTitlesModalBeginner{
  font-weight: bold;
  font-size: 4.5vw;
  color: #EE9B00;
  margin: 2vw 0 2vw 0;
}
.winTitlesModalAdventure{
  font-weight: bold;
  font-size: 4.5vw;
  color: #009189;
  margin: 2vw 0 2vw 0;
}
.textTitlesModal{
  font-weight: bold;
  font-size: 4.6vw;
  color: #333333;
  margin: 2vw 0 2vw 0;
}
.scrollNavBarModal {
  display: flex;
  flex-wrap: nowrap;
}
.btnMenuModal {
  flex: 0 0 auto;
  border:none;
  width: 50vw;
  height: 15vw;
  background-color:white;
  border:none;
  color: #333333;
  font-weight: bold;
  font-size: 4vw;
  outline:none;
  z-index: 2;
}
.btnMenuActivateModal {
  flex: 0 0 auto;
  border:none;
  width: 50vw;
  height: 15vw;
  background: linear-gradient(to bottom,  white 90%, #EE9B00 90%,#EE9B00 100%);
  border:none;
  color: #333333;
  font-weight: bold;
  font-size: 4vw;
  outline:none;
}
.textContentModalBeneficios{
  display: flex;
  flex-flow: column nowrap;
  width: 70vw; 
  margin-top:10px;
}
.eachTextContentModalBeneficios{
  font-size: 4vw;
  color: #333333;
  margin: 3vw 0 3vw 0;
  color:#333333;
}
.btnFinaleModalBeneficios{
  background: #D8D8D8;
  border-radius: 10px;
  color: #999999;
  font-weight: bold;
  font-size: 4vw;
  border:none;
  width: 50vw;
  height: 15vw;
  align-self: center;
}
.finalTextModalFenefit{
  text-align: center;
  color: #333333;
  font-size: 3.3vw;
  margin-top: 10px;
}
.containerEachCard{
  display:flex;
  flex-flow: row nowrap;
  width: 80vw;
  height: 35vw;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.18);
  border-radius: 10px;
  margin-bottom: 5px;
  margin-right: 15px;
}
.containerInfoBenefit{
  display: flex;
  flex-flow: column nowrap;
  margin: 10px 10px 10px 10px;
  justify-content: space-between;
  
}
.containerNameSubjectBenefit{
  display: flex;
  flex-flow: column nowrap;
}
.containerDiscountBenefit{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.nameBenefit{
  color:#333333;
  font-weight: bold;
  font-size: 4.5vw;
}
.subjectBenefit{
  color: rgba(0, 0, 0, 0.6);
  font-size: 3.5vw;
}
.containerDiscountBegginer{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFCF26;
  border: 2px dashed #FFE769;
  border-radius: 5px;
  color: white;
  padding: 2px 3px 2px 3px;
  font-size: 4vw;
  min-width: 10vw;
  font-weight: bold
}
.containerDiscountAdventure{
  display: flex;
  justify-content: center;
  align-items: center;
  background:#00EDDF;
  border: 2px dashed #009189;
  border-radius: 5px;
  color: #009189;
  padding: 2px 3px 2px 3px;
  font-size: 4vw;
  min-width: 10vw;
  font-weight: bold
}
.textGetCouponBegginer{
  font-weight: bold;
  font-size: 3.8vw;
  color: #EE9B00;
}
.textGetCouponAdventure{
  font-weight: bold;
  font-size: 3.8vw;
  color: #009189;
}
