.modalBenefit {
  position: absolute;
  width: 100%;
  height: auto;
  top:0;
  left: 0;
  z-index: 1;
  display: flex;
  z-index: 3;
}
.modalContent {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 80vh;
  background-color: white;
  border-radius: 1rem;
  border: none;
}
.closeModal{
  position:absolute;
  top: 0;
  right: 0;
  padding-top: 5vw;
  padding-right: 8vw;
}
.containerCategoryModalBeginner{
  display: flex;
  width: 100vw;
  height: 7vw;
  flex-flow: row nowrap;
  align-items: center;
  background-color: #EE9B00;
  padding-left: 5vw;
}
.containerCategoryModalAdvance{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100vw;
  height: 7vw;
  background-color: #009189;
  margin-left: 5vw;
}
.textCategoryBenefit{
  color: white;
  font-weight: bold;
  font-size: 3.8vw;
  margin-left: 2vw;
}
.containerTitlesModal{
  display: flex;
  flex-flow: column nowrap;
  width: 90vw;
  background-color: yellow;
}
.titleTitlesModal{
  font-weight: bold;
  font-size: 5.5vw;
  color: #333333
}
.winTitlesModalBeginner{
  font-weight: bold;
  font-size: 4.5vw;
  color: #EE9B00;
}
.winTitlesModalAdventure{
  font-weight: bold;
  font-size: 4.5vw;
  color: #009189;
}
.textTitlesModal{
  font-weight: bold;
  font-size: 4.6vw;
  color: #333333;
}
.scrollNavBarModal {
  display: flex;
  flex-wrap: nowrap;
}
.btnMenuModal {
  flex: 0 0 auto;
  border:none;
  width: 50vw;
  height: 15vw;
  background-color: #F6F6F6;
  border:none;
  color: #6200EE;
  font-weight: bold;
  font-size: 4.5vw;
  outline:none;
  z-index: 2;
}
.btnMenuActivateModal {
  flex: 0 0 auto;
  border:none;
  width: 50vw;
  height: 15vw;
  background: linear-gradient(to bottom,  #F6F6F6 90%, #6200EE 90%,#6200EE 100%);
  border:none;
  color: #6200EE;
  font-weight: bold;
  font-size: 4.5vw;
  outline:none;
}

.containerEachCard{
  display:flex;
  flex-flow: row nowrap;
  width: 80vw;
  height: 35vw;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.18);
  border-radius: 10px;
  margin-bottom: 5px;
  margin-right: 15px;
}
.containerInfoBenefit{
  display: flex;
  flex-flow: column nowrap;
  margin: 10px 10px 10px 10px;
  justify-content: space-between;
  
}
.containerNameSubjectBenefit{
  display: flex;
  flex-flow: column nowrap;
}
.containerDiscountBenefit{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.nameBenefit{
  color:#333333;
  font-weight: bold;
  font-size: 4.5vw;
}
.subjectBenefit{
  color: rgba(0, 0, 0, 0.6);
  font-size: 3.5vw;
}
.containerDiscountBegginer{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFCF26;
  border: 2px dashed #FFE769;
  border-radius: 5px;
  color: white;
  padding: 2px 3px 2px 3px;
  font-size: 4vw;
  min-width: 10vw;
  font-weight: bold
}
.containerDiscountAdventure{
  display: flex;
  justify-content: center;
  align-items: center;
  background:#00EDDF;
  border: 2px dashed #009189;
  border-radius: 5px;
  color: #009189;
  padding: 2px 3px 2px 3px;
  font-size: 4vw;
  min-width: 10vw;
  font-weight: bold
}
.textGetCouponBegginer{
  font-weight: bold;
  font-size: 3.8vw;
  color: #EE9B00;
}
.textGetCouponAdventure{
  font-weight: bold;
  font-size: 3.8vw;
  color: #009189;
}
