.profile{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 20vw ;
}
.logoBegginer{
  width: 100vw;
}
.containerPointsProfile{
  display: flex;
  justify-content: center;
}
.containerIconInfo{
  align-self: flex-start;
  justify-self: flex-start;
  margin-left:10px;
  margin-top: 15px;
}
.cardProfile{
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
  width: 40vw;
  height: 60vw;
  background: white;
  box-shadow: 0px -1px 8px rgba(0, 0, 0, 0.18), 0px 4px 8px rgba(0, 0, 0, 0.18);
  border-radius: 10px;
	border: none;
	margin-left: 5px;
  margin-right: 5px;
  padding: 0 10px 15px 10px;
}


.containerTextCardProfile{
  display: flex;
  flex-flow: column nowrap;
}
.containerNextPoints{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}
.textCardPoints{
	font-size:3.5vw;
	margin-left: 8px;
}
.textNextCategory{
  font-size:4vw;
  font-weight: bolder;
  margin-bottom: 3px;
}
.textPointsBegginer{
  color:#EE9B00;
  font-size: 4vw;
}
.textPointsAdvance{
  /* cambiar por color advance */
  color:#EE9B00;
  font-size: 4vw;
}
.textChallengeDay{
  font-size: 4.5vw;
  font-weight: bold;
}

/* Imagen dentro de uno de los card*/

.foto-desafio{
  width: 186px;
}

.progressBar{
  align-self: center;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: -15px;
}
.RCP {
  display: flex;
  flex-direction: column;
}

.indicator{
  line-height: 0;
  margin-top: -102px;
  margin-bottom: 18px;
}

/* texto que va en medio del ProgressBar*/
.text p{
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #999999;
  mix-blend-mode: normal;
}

/* Tipografias dentro de card y box */
.card h2{
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 4vw;
  line-height: 27px;
  color: #333333;
  mix-blend-mode: normal;
}

.card p{
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #333333;
  mix-blend-mode: normal;  
}

.boton-historial{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left:5vw;
  background-color: #6200EE;
  color: #ffffff;
  border-radius: 5px;
  width: 174px;
  height: 55px;
  font-size: 5vw;
  border: none;
  align-self: flex-start;
}
.iconButtonProfile{
  margin-right: 10px;
}
.containerBenefitsProfile{
  display: flex;
  flex-flow: column nowrap;
  width: 90vw;
  margin-top: 15px;
}
.containerCardsBefitsProfile{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 18vw;
  margin-top: 20px;
}

.boxProfile{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  width: 43vw;
  height: 50vw;
  background: #FFFFFF;
  box-shadow: 0px -1px 8px rgba(0, 0, 0, 0.18), 0px 4px 8px rgba(0, 0, 0, 0.18);
  border-radius: 10px;
  margin-bottom: 15px;
}
.numberBenefitsPointsBegginer{
  color: #EE9B00;
  font-size: 7vw;
  font-weight: bold;
}
.numberBenefitsPointsAdvance{
  /* cambiar a advance */
  color: #EE9B00;
  font-size: 7vw;
  font-weight: bold;
}
.textBenefitsProfile{
  color: #333333;
  font-size: 3.6vw;
  margin: 0 5px 0 5px;
  text-align: center;
}
.containerNumbersCount{
  display: flex;
  flex-flow: row nowrap;
}