.modalChallenge {
    position: absolute;
    width: 100%;
    height: auto;
    top:0;
    left: 0;
    z-index: 3;
    display: flex;
    border-radius: 1rem 1rem 1rem 1rem;
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  .modalContentChallenge {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 80vh;
    background-color: white;
    border-radius: 1rem;
    border: none;
  }
  .closeModalChallenge{
    position:absolute;
    top: -3px;
    right: -12px;
    padding-top: 5vw;
    padding-right: 8vw;
    height: 2vh;
  }

  .imgModal {
    width: 100%;
    margin-top: 0%;
    border-radius: 1rem 1rem 0 0;
  }

  .challengeBannerAdventure{
    height: 8vw;
    background-color: #00EDDF;
  }
  .challengeBannerBeginner{
    height: 8vw;
    background-color: #EE9B00;
  }

  .titleBanner{
    margin-left: 2%;
    margin-top:1%;
    font-size: 3.5vw;
    font-weight: 700;
    color: #ffffff;
  }

  .iconoChallenge{
    margin-right: 3%;
  }

.infoModal{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.pointsModalBeginner{
  color: #EE9B00;
  font-weight: 700;
  font-size: 3.5vw;
}
.pointsModalAdventure{
  color: #009189;
  font-weight: 700;
  font-size: 3.5vw;
}


.pointsModal p img{
  margin-right: 3%;
}

.titleModal{
  font-size: 4vw;
  font-weight: 700;
}

.paragraphModal{
  font-size: 3.5vw;
  font-weight: 400;
}

.copyLink{
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
}

.instructionCopy{
  font-size: 3vw;
  font-weight: 400;
  color: #999999;
}

.linkDownload{
  display: flex;
  justify-content: space-evenly;
  text-decoration: underline;
}

.btonDesafio{
  background-color: #6200EE;
  border-radius: 10px;
  border: 2px solid #6200EE ;
  color: #FFFFFF;
  width: 65vw;
  height: 7vh;
  padding: 5px;
  margin: 5px 10px 5px 30px;
  font-weight: 700;
  font-size: 3.5vw;
}

.btonDesafio img{
  margin-right: 3vw;
}

.message{
  font-size: 3vw;
  font-weight: 400;
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
}

.socialMediacontainer{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
}

.textSocialMedia p {
  font-size: 3.5vw;
  font-weight: 400;
  color: #333333;
}

.iconSocialMedia{
  display: flex;
  justify-content: space-evenly;
  margin-top: 1vh;
}

.WhatsApp img, .instagram img, .linkedin img, .gmail img{
  height: 5vh;
}

.WhatsApp p, .instagram p, .linkedin p, .gmail p{
  font-size: 2.5vw;
  font-weight: 400;
  color: #333333;
}