.modalChallenge {
    position: absolute;
    width: 100%;
    height: auto;
    top:0;
    left: 0;
    z-index: 1;
    display: flex;
  }
  .modalContentChallenge {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 80vh;
    background-color: white;
    border-radius: 1rem;
    border: none;
  }
  .closeModal{
    position:absolute;
    top: 0;
    right: 0;
    padding-top: 5vw;
    padding-right: 8vw;
  }