.containerHeaderBeneficios{
  display: flex;
  position: fixed;
  top:0;
  flex-flow: row nowrap;
  width:100vw;
  height: 20vw;
  background-color: #6200EE;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.containerElementsBeneficios{
  display: flex;
  width: 90%;
  justify-content: space-between;
}
.textHeaderBeneficios{
  display: flex;
  color: white;
  font-size: 5.5vw;
  align-items: center;
  font-weight: bold;
}