.containerButtonsNavBeneficios{
  padding-top: 20vw;
}
.scrollNavBar {
  display: flex;
  position: fixed;
  flex-wrap: nowrap;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  z-index: 2;
}
.scrollNavBar::-webkit-scrollbar {
  display: none;
}
.btnMenu {
  flex: 0 0 auto;
  border:none;
  width: 45%;
  height: 15vw;
  background-color: #F6F6F6;
  border:none;
  color: #6200EE;
  font-weight: bold;
  font-size: 4.5vw;
  outline:none;
}
.btnMenuActivate {
  flex: 0 0 auto;
  border:none;
  width: 45%;
  height: 15vw;
  background: linear-gradient(to bottom,  #F6F6F6 90%, #6200EE 90%,#6200EE 100%);
  border:none;
  color: #6200EE;
  font-weight: bold;
  font-size: 4.5vw;
  outline:none;
}
